<html>
<head>
<title>Handlebars Example</title>
</head>
<body>

<h3>Examples:</h3>
<ul>
<li><a href='/datarender'>Displaying Variables</a></li>
<li><a href='/loop'>Loops with '&#123;&#123;#each&#125;&#125;'</a></li>
<li><a href='/logic'>Logic with '&#123;&#123;#if&#125;&#125;'</a></li>
</ul>

{{{body}}}

</body>
</html>